<div style="text-align: center">

  <!-- -------------- HEADER  -------------- -->

  <div class="row" [hidden]="!isOpen">
    <div class="col-6" style="text-align: right">
      <img style="max-width: 50px" [src]="wcmsService.wcmsSelectedOpen.open.src">
    </div>
    <div class="col-6" style="text-align: left">
      <div style="font-weight: 900; font-style: italic" id="openTitle" [jhiTranslate]="wcmsService.wcmsClientRoot+pageName+'.open.title.open'"></div>
    </div>
  </div>

  <div class="row" [hidden]="isOpen || isOpenAgain">
    <div class="col-6" style="text-align: right">
      <img style="max-width: 50px" [src]="wcmsService.wcmsSelectedOpen.close.src">
    </div>
    <div class="col-6" style="text-align: left">
      <div style="font-weight: 900; font-style: italic" id="closeTitle" [jhiTranslate]="wcmsService.wcmsClientRoot+pageName+'.open.title.close'"></div>
    </div>
  </div>

  <div class="row" [hidden]="!isOpenAgain">
    <div class="col-6" style="text-align: right">
      <img style="max-width: 50px" [src]="wcmsService.wcmsSelectedOpen.openAgain.src">
    </div>
    <div class="col-6" style="text-align: left">
      <div style="font-weight: 900; font-style: italic" id="openAgainTitle" [jhiTranslate]="wcmsService.wcmsClientRoot+pageName+'.open.title.openAgain'"></div>
    </div>
  </div>

  <!-- -------------- BLOCK  -------------- -->

  <div class="row">
    <div class="col-12">
      <div class="days">Montag bis Donnerstag:</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="open" days="MonTueWedThu" minH="8" minM="0" maxH="12" maxM="0">08:00 – 12:00</div>
      <!-- <div class="openText">Heute gleich wieder offen</div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="open" days="MonTueWedThu" minH="13" minM="30" maxH="16" maxM="30">13:30 – 16:30</div>
      <!-- <div class="openText">Heute gleich wieder offen</div> -->
    </div>
  </div>

  <!-- -------------- BLOCK  -------------- -->

  <div class="row">
    <div class="col-12">
      <div class="days">Freitag:</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="open" days="Fri" minH="8" minM="0" maxH="12" maxM="0">08:00 – 12:00</div>
      <!-- <div class="openText">Heute gleich wieder offen</div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="open" days="Fri" minH="17" minM="00" maxH="18" maxM="30">17:00 – 18:30</div>
      <!-- <div class="openText">Heute gleich wieder offen</div> -->
    </div>
  </div>

  <!-- -------------- BLOCK  -------------- -->

  <div class="row">
    <div class="col-12">
      <div class="days">Samstag und Sonntag:</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <span>geschlossen</span>
    </div>
  </div>


  <!-- -------------- INFO  -------------- -->

  <div class="row mt-2">
    <div class="col-12">
      <em class="days">Termine im Haus nur nach telefonischer Vereinbarung.</em>
    </div>
  </div>

</div>
