<div style="text-align: center">
  <span id="openTitle" jhiTranslate="pageThree.open.title"></span>
  <p><strong>Montag bis Donnerstag:</strong>
    <br>
    <span class="open" days="MonTueWedThu" minH="8" minM="0" maxH="12" maxM="0">08:00 – 12:00</span>
    <br>
    <span class="open" days="MonTueWedThu" minH="13" minM="55" maxH="16" maxM="30">13:55 – 16:30</span>
  </p>
  <p><strong>Freitag:</strong>
    <br>
    <span class="open" days="Fri" minH="8" minM="0" maxH="14" maxM="30">08:00 – 14:30</span>
  </p>
  <p>
    <strong>Samstag:</strong>
    <br>
    aktuell geschlossen<br>
    <!--08:00 - 12:00
    <em>außer Ostern, Pfingsten, Allerheiligen und Weihnachten</em>-->
  </p>
  <p>
    <em>Termine im Haus nur nach telefonischer Vereinbarung.</em>
  </p>
</div>
