<section class="component">
  <blockquote
    class="quote DE"
    [jhiTranslate]="wcmsService.wcmsClientRoot + pageName + '.quote'"
    [style.font-family]="wcmsService.wcmsSelectedQuote.font.family"
    [style.font-size]="wcmsService.wcmsSelectedQuote.font.size"
    [style.font-weight]="wcmsService.wcmsSelectedQuote.font.weight"
    [style.font-stretch]="wcmsService.wcmsSelectedQuote.font.stretch"
    [style.font-style]="wcmsService.wcmsSelectedQuote.font.style"
    [style.font-variant]="wcmsService.wcmsSelectedQuote.font.variant"
    [style.color]="wcmsService.wcmsSelectedQuote.font.color"
    [style.lineHeight]="wcmsService.wcmsSelectedQuote.font.lineHeight"
    [style.letterSpacing]="wcmsService.wcmsSelectedQuote.font.letterSpacing"
    [style.background]="wcmsService.wcmsSelectedQuote.background"
    [style.border]="wcmsService.wcmsSelectedQuote.border"
    [style.borderRadius]="wcmsService.wcmsSelectedQuote.borderRadius"
    [style.boxShadow]="wcmsService.wcmsSelectedQuote.boxShadow"
    [style.filter]="wcmsService.wcmsSelectedQuote.filter"
    [style.padding]="wcmsService.wcmsSelectedQuote.padding"
    [style.margin]="wcmsService.wcmsSelectedQuote.margin"
  ></blockquote>
</section>
