<div
  class="feature map"
  [style.width]="wcmsService.wcmsSelectedGMap.frame.width"
  [style.height]="wcmsService.wcmsSelectedGMap.frame.height"
  [style.background]="wcmsService.wcmsSelectedGMap.frame.background"
  [style.border]="wcmsService.wcmsSelectedGMap.frame.border"
  [style.border-radius]="wcmsService.wcmsSelectedGMap.frame.borderRadius"
  [style.box-shadow]="wcmsService.wcmsSelectedGMap.frame.boxShadow"
  [style.filter]="wcmsService.wcmsSelectedGMap.frame.filter"
  [style.padding]="wcmsService.wcmsSelectedGMap.frame.padding"
  [style.margin]="wcmsService.wcmsSelectedGMap.frame.margin"
>
  <iframe
    [src]="gMap"
    [style.width]="this.wcmsService.wcmsSelectedGMap.width"
    [style.height]="this.wcmsService.wcmsSelectedGMap.height"
    [style.border]="this.wcmsService.wcmsSelectedGMap.border"
    [style.border-radius]="this.wcmsService.wcmsSelectedGMap.borderRadius"
    [style.box-shadow]="this.wcmsService.wcmsSelectedGMap.boxShadow"
    [style.filter]="this.wcmsService.wcmsSelectedGMap.filter"
    allowfullscreen="true"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</div>
