<div class="feature map">
  <iframe
    [src]="gMap"
    [style.width]="this.wcmsService.wcmsSelectedGMap.width"
    [style.height]="this.wcmsService.wcmsSelectedGMap.height"
    [style.border]="this.wcmsService.wcmsSelectedGMap.border"
    [style.border-radius]="this.wcmsService.wcmsSelectedGMap.borderRadius"
    [style.box-shadow]="this.wcmsService.wcmsSelectedGMap.boxShadow"
    [style.filter]="this.wcmsService.wcmsSelectedGMap.filter"
    allowfullscreen="true"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
