<div>

  <!-- BILD -->
  <div style="display: flex; justify-content: center; align-items: center; margin-bottom:1em">
    <img [style.max-width]="this.wcmsService.wcmsSelectedPages[this.wcmsService.getIndex(pageName)].image1.width"
         [style.max-height]="this.wcmsService.wcmsSelectedPages[this.wcmsService.getIndex(pageName)].image1.height"
         [style.border]="this.wcmsService.wcmsSelectedPages[this.wcmsService.getIndex(pageName)].image1.border"
         [style.border-radius]="this.wcmsService.wcmsSelectedPages[this.wcmsService.getIndex(pageName)].image1.borderRadius"
         [style.box-shadow]="this.wcmsService.wcmsSelectedPages[this.wcmsService.getIndex(pageName)].image1.boxShadow"
         [src]="this.wcmsService.wcmsSelectedPages[this.wcmsService.getIndex(pageName)].image1.url" alt="wcms-page-One">
  </div><!-- END:BILD -->

  <!-- BESCHREIBUNG -->
  <div style=" margin-bottom:1em">
    <p [jhiTranslate]="wcmsService.wcmsClientRoot+pageName+'.description1'">
    </p>
  </div><!-- END:BESCHREIBUNG -->

</div>
