<div class="container-social-media">
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.facebook === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.facebook)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.facebook">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.instagram === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.instagram)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.instagram">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.twitter === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.twitter)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.twitter">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.tikTok === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.tikTok)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.tikTok">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.snapchat === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.snapchat)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.snapchat">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.linkedIn === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.linkedIn)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.linkedIn">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.pinterest === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.pinterest)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.pinterest">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.youtube === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.youtube)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.youtube">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.vimeo === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.vimeo)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.vimeo">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.reddit === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.reddit)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.reddit">
  </a>
  <a [hidden]="wcmsService.wcmsSelectedSocialMedia.url.xing === ''"
     target="_blank"
     [href]="getTrustResourceUrl(wcmsService.wcmsSelectedSocialMedia.url.xing)">
    <img class="icon-social-media" [src]="wcmsService.wcmsSelectedSocialMedia.src.xing">
  </a>
</div>
