<div class="container-social-media"
     [style.background]="wcmsService.wcmsSelectedSocialMedia.background"
     [style.border]="wcmsService.wcmsSelectedSocialMedia.border"
     [style.borderRadius]="wcmsService.wcmsSelectedSocialMedia.borderRadius"
     [style.boxShadow]="wcmsService.wcmsSelectedSocialMedia.boxShadow"
     [style.filter]="wcmsService.wcmsSelectedSocialMedia.filter"
     [style.padding]="wcmsService.wcmsSelectedSocialMedia.padding"
     [style.margin]="wcmsService.wcmsSelectedSocialMedia.margin"
  >
  <a *ngFor="let media of wcmsService.JsonWcmsGlobal.socialMedia"
     [hidden]="media.url === ''"
     target="_blank"
     [href]="utilsService.getTrustResourceUrl(media.url)">
    <img class="icon-social-media" [src]="media.src">
  </a>
</div>
