.simple-list {
  overflow-y: scroll;
  height: 55vh;
  @media (max-width: 767.98px) {
    height: 30vh;
  }
}

.techno-list {
  filter: drop-shadow(-5px 5px 4px grey);
  // opacity: 1;
  overflow-y: scroll;
  height: 55vh;
  @media (max-width: 767.98px) {
    height: 30vh;
  }
}

.zoom-product{
  display: flex;
  align-items: end;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  max-height: 55vh;
  @media (max-width: 767.98px) {
    max-height: 30vh;
  }
}

.product-additive{
  // width: 40%;
  position: absolute;
  // margin-top: 1.9em;
  // margin-left: -.5em;
  background-color: white;
  border-radius: 0 10px;
  color: #666666;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 10px;
  &.selected {
    top: -1.3em;
    left: -.5em;
    font-size: 1.3em;
  }
}
