
<div style="overflow: hidden"
     [style.width]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.width"
     [style.height]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.height"
     [style.background]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.background"
     [style.border]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.border"
     [style.border-radius]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.borderRadius"
     [style.box-shadow]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.boxShadow"
     [style.filter]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.filter"
     [style.padding]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.padding"
     [style.margin]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.margin">

  <div [hidden]="!isGastro" class="row" style="margin: 0">

    <div class="col-5">
      <button style="background-color: transparent;
                position: relative;
                border-radius: 5px;
                margin-right: 1em"
              (click)="switchView()">* Allergene und Zusatzstoffe
      </button>
      <div id="zoomProductDescription"
           class="product-additive">
      </div>
    </div>

    <div class="col-7" style="display: flex; justify-content: end">

    </div>

  </div>

  <div class="row" style="margin: 0">

    <div [hidden]="!isZoomedProduct" id="zoomProduct" class="col-5 zoom-product">
      <div id="zoomProductPrice" class="stamp is-price"></div>
    </div>

    <div [hidden]="isZoomedProduct" class="row" class="col-5 simple-list">
      <jhi-additive></jhi-additive>
    </div>

    <div class="col-7 techno-list">
      <jhi-list01 [pageName]="pageName"></jhi-list01>
    </div>

  </div>

</div>
