<div [hidden]="!design+'.on'"
     [style.font-family]="design+'.font.family'"
     [style.font-size]="design+'.font.size'"
     [style.font-weight]="design+'.font.weight'"
     [style.font-stretch]="design+'.font.stretch'"
     [style.font-style]="design+'.font.style'"
     [style.font-variant]="design+'.font.variant'"
     [style.color]="design+'.font.color'"
     [style.lineHeight]="design+'.font.lineHeight'"
     [style.letterSpacing]="design+'.font.letterSpacing'"

     [style.background]="design+'.background'"
     [style.border]="design+'.border'"
     [style.borderRadius]="design+'.borderRadius'"
     [style.boxShadow]="design+'.boxShadow'"
     [style.filter]="design+'.filter'"
     [style.padding]="design+'.padding'"
     [style.margin]="design+'.margin'"
>{{text}}</div>
