<div id="table" class="container">

  <div *ngFor="let product of wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].list.products; let i = index"
       [class]="selectedProduct=== i ? 'box selected' : 'box'"
  >

    <div class="row" (click)="zoomProduct(i)">

      <div class="col-2 mt-4">
        <!-- PRICE:REGULAR -->
        <div  [id]="'productPrice'+i"
              [hidden]="selectedProduct === i"
              [class]="(product.reducedPrice! > 0) ? 'stamp is-reduced-price' : 'stamp is-price'"
        >
          {{product.price}} €
        </div>
        <!-- PRICE:REGULAR -->
        <div *ngIf="product.reducedPrice! > 0"
             class="stamp is-special-price">
          Jetzt nur {{product.reducedPrice}} €
        </div>
      </div>

      <!-- IMAGE -->
      <div class="col-4" style="display: flex; justify-content: center;">
        <div class="product-preview"
             [style.opacity]="selectedProduct === i ? '1' : '0.6'"
             [hidden]="selectedProduct === i"
             [style.background-image]="utilsService.getBgUrl(product.src)"
          >
        </div>
      </div>

      <!-- DESCRIPTION -->
      <div [class]="selectedProduct=== i ? 'col-12 selected-product' : 'col-6'">
        <!-- TITLE -->
          <div class="col-12">
            <div [id]="'productTitle'+i"
                 [class]="selectedProduct === i ? 'product-title selected' : 'product-title'">
              {{product.title | translate}}
            </div>
          </div>
        <!-- TEXT -->
          <div class="col-12">
            <div [id]="'productDescription'+i"
                 [class]="selectedProduct === i ? 'product-description selected' : 'product-description'">
              {{product.description | translate}}
            </div>
          </div>
        <!-- ADDITIVE -->
          <div [hidden]="selectedProduct === i" class="col-12">
            <div [id]="'productAdditive'+i"
                 [class]="selectedProduct === i ? 'product-additiv selected' : 'product-additiv'">
              {{product.additive }}
            </div>
          </div>

      </div>

    </div>

  </div>

</div>
