<div id="table" class="container">

  <div *ngFor="let product of wcmsService.JsonWcmsPages[wcmsService.getIndex(pageName)].list.products; let i = index"
       class="box"
  >

    <div class="row" (click)="zoomProduct(i)">

      <div class="col-3" style="display: flex; justify-content: center">
        <div style="width: 100%">
          <img [style.opacity]="selectedProduct=== i ? '0.3' : '1'"
               [src]="getTrustResourceUrl(product.scr)"
               [alt]="product.alt"
               >
        </div>
      </div>

      <div class="col-7">
        <div class="row" style="margin: .5em"><span>{{product.title | translate}}</span></div>
        <div class="row"><code>{{product.description | translate}}</code></div>
        <div class="row" style="text-align: center"><span class="special">{{product.special | translate}}</span></div>
      </div>

      <div class="col-2" style="vertical-align: center">
        <span>{{product.price}} €</span>
      </div>

    </div>

  </div>

</div>
