<div *ngIf="wcmsService.wcmsClient === 'demo'" style="overflow-x: hidden">

  <jhi-page-header [pageName]="pageName"></jhi-page-header>

  <jhi-page-quote [pageName]="pageName"></jhi-page-quote>

  <jhi-product-list01 [isGastro]="false" [pageName]="pageName"></jhi-product-list01>

</div>

<div *ngIf="wcmsService.wcmsClient === 'kebab'" style="overflow-x: hidden">

  <jhi-page-header [pageName]="pageName"></jhi-page-header>

  <jhi-separator [factor]=.7></jhi-separator>

  <jhi-product-list01 [isGastro]="true" [pageName]="pageName"></jhi-product-list01>

</div>
