<div style="overflow-x: hidden">

  <!-- TITEL -->
  <div style="display: flex; justify-content: center">
    <span class="display-6"
          [style.font-family]="this.wcmsService.wcmsSelectedTitle.fontFamily"
          [style.font-size]="this.wcmsService.wcmsSelectedTitle.fontSize"
          [style.color]="this.wcmsService.wcmsSelectedTitle.color"
          [style.background-color]="this.wcmsService.wcmsSelectedTitle.backgroundColor"
          [style.border]="this.wcmsService.wcmsSelectedTitle.border"
          [style.border-radius]="this.wcmsService.wcmsSelectedTitle.borderRadius"
          [style.box-shadow]="this.wcmsService.wcmsSelectedTitle.boxShadow"
          [style.padding]="this.wcmsService.wcmsSelectedTitle.padding"
          [style.margin-bottom]="this.wcmsService.wcmsSelectedTitle.marginBottom"
          jhiTranslate="pageTwo.title"></span>
  </div>

  <div [hidden]="this.wcmsService.JsonWcmsPages[1].variant!==0">

    <div [hidden]="!this.wcmsService.JsonWcmsPages[1].quote.show" class="blockquote" jhiTranslate="pageTwo.quote">
    </div>

    <div style="display: flex; justify-content: center; align-items: center">
      <img [attr.max-width]="this.wcmsService.JsonWcmsPages[1].image.width"
           [height]="this.wcmsService.JsonWcmsPages[1].image.height"
           [style.border]="this.wcmsService.JsonWcmsPages[1].image.border"
           [style.border-radius]="this.wcmsService.JsonWcmsPages[1].image.borderRadius"
           [style.box-shadow]="this.wcmsService.JsonWcmsPages[1].image.boxShadow"
           [src]="this.wcmsService.JsonWcmsPages[1].image.url" alt="wcms-page-two">
    </div>

    <div class="blocktext" jhiTranslate="pageTwo.description">
    </div>

  </div>

  <div [hidden]="this.wcmsService.JsonWcmsPages[1].variant!==1">

    <div class="row">
      <div [hidden]="!this.wcmsService.JsonWcmsPages[1].quote.show" class="col-5 blockquote" jhiTranslate="pageTwo.quote">
      </div>
      <div class="col-5" style="display: flex; justify-content: center; align-items: center">
        <img [attr.max-width]="this.wcmsService.JsonWcmsPages[1].image.width"
             [height]="this.wcmsService.JsonWcmsPages[1].image.height"
             [style.border]="this.wcmsService.JsonWcmsPages[1].image.border"
             [style.border-radius]="this.wcmsService.JsonWcmsPages[1].image.borderRadius"
             [style.box-shadow]="this.wcmsService.JsonWcmsPages[1].image.boxShadow"
             [src]="this.wcmsService.JsonWcmsPages[1].image.url" alt="wcms-page-two">
      </div>
    </div>

    <div class="row">
      <div class="blocktext" jhiTranslate="pageTwo.description">
      </div>
    </div>

  </div>

</div>
