<div style="display: flex; justify-content: center">
    <span class="display-6"
          [style.font-family]="this.wcmsService.wcmsSelectedTitle.fontFamily"
          [style.font-size]="this.wcmsService.wcmsSelectedTitle.fontSize"
          [style.color]="this.wcmsService.wcmsSelectedTitle.color"
          [style.background-color]="this.wcmsService.wcmsSelectedTitle.backgroundColor"
          [style.border]="this.wcmsService.wcmsSelectedTitle.border"
          [style.border-radius]="this.wcmsService.wcmsSelectedTitle.borderRadius"
          [style.box-shadow]="this.wcmsService.wcmsSelectedTitle.boxShadow"
          [style.padding]="this.wcmsService.wcmsSelectedTitle.padding"
          [style.margin-bottom]="this.wcmsService.wcmsSelectedTitle.marginBottom"
          [jhiTranslate]="wcmsService.wcmsClientRoot+pageName+'.title'"></span>
</div><!-- END:TITEL -->
