.separator {
  height: 5em;
  @media (max-width: 767.98px) {
    height: 1em;
  }
}
/*
.texture{
-webkit-mask-image: url('../../../content/images/stamp/grunge.png');
-webkit-mask-size: 900px 900px;
mix-blend-mode: multiply;
}
*/
