.impress-label{
  font-family: var(--bs-impress-font-family);
  font-size: var(--bs-impress-font-size);
  font-weight: var(--bs-impress-font-weight);
  font-stretch: var(--bs-impress-font-stretch);
  font-style: var(--bs-impress-font-style);
  font-variant: var(--bs-impress-font-variant);
  line-height: var(--bs-impress-line-height);
  letter-spacing: var(--bs-impress-letter-spacing);
  color: var(--bs-impress-color);
}
