<div  [style.width]="'90%'"
      [style.padding]="'5px'"
      [style.border-radius]="'10px'"
      [style.box-shadow]="'rgb(38, 57, 77) 0px 20px 30px -10px'"
      [style.background-image]="getBgUrl(wcmsService.wcmsSelectedLogo.src)">

  <div id="carouselGalleryIndicators" class="carousel slide" data-bs-ride="true">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

      <div *ngFor="let image of wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.images; let i=index"
           [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
        <img class="d-block w-100"
              [src]="getTrustResourceUrl(image.src)"
              [alt]="image.alt">
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

</div>
