<div class="container">
  <div class="card" *ngFor="let image of wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.images"
       [style.width]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.width"
       [style.height]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.height"
       [style.background]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.background"
       [style.border]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.border"
       [style.border-radius]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.borderRadius"
       [style.box-shadow]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.boxShadow"
       [style.filter]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.filter"
       [style.padding]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.padding"
       [style.margin]="wcmsService.wcmsSelectedPages[wcmsService.getIndex(pageName)].gallery.margin"
  >
    <div class="image" [style.background-image]="utilsService.getBgUrl(image.src)">
    </div>
    <div class="info">
      <b>{{image.alt}}</b>
    </div>
  </div>
</div>
