.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: var(--gallery-card-width);
  height: var(--gallery-card-height);
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.container .card:nth-of-type(2) {
  transform: rotate(5deg);
}

.container .card:nth-of-type(3) {
  transform: rotate(-5deg);
}

.container .card .image {
  position: relative;
  width: 100%;
  height: 50%;
  // border: solid 2px black;
  border-radius: 10px;
  background-size: cover;
  transform: translate(10px, 10px);
}

.container .card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  padding: 5px;
  transform: translate(-5px, -50px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 1.4;
  font-size: 15px;
  opacity: 1;
  transition-duration: 1s;
}

.container .card:hover .info {
  opacity: 0;
  transform: translate(10px, 10px);
}

.container .card:hover .image {
  width: 100%;
  height: 100%;
  background-position: bottom;
}
