/* ==========================================================================
Main page styles
========================================================================== */
.content {
  background-color: transparent;
  ::-webkit-scrollbar {
    display: none;
  }
}

// CONTAINER
.leftContainer {
  display: inline-block;
  height: 55vh;
  @media (max-width: 767.98px) {
    display: flex;
    // align-items: center;
    height: 25vh;
  }
}

.leftContainerDescription {
  margin-top: 2em;

  @media (max-width: 767.98px) {
    margin-top: 0em;
  }
}

.rightContainer {
  padding: 0 10px;
  overflow: scroll;
  background: transparent;
}

// LOGO
.logo {
  max-width: 100%;
  @media (max-width: 767.98px) {
    max-height: 80%;
  }
}

.symbol {
  max-width: 1em;
  filter: drop-shadow(-5px 5px 4px grey);
  color: #638ebb;
  margin: 1em;
}

.symbol:hover {
  color: #082154;
}

.btn-symbol {
  width: 100%;
  font-family: var(--bs-btn-symbol-family);
  font-size: var(--bs-btn-symbol-font-size);
  font-weight: var(--bs-btn-symbol-font-weight);
  font-stretch: var(--bs-btn-symbol-font-stretch);
  font-style: var(--bs-btn-symbol-font-style);
  font-variant: var(--bs-btn-symbol-font-variant);
  line-height: var(--bs-btn-symbol-line-height);
  letter-spacing: var(--bs-btn-symbol-letter-spacing);
  color: var(--bs-btn-symbol-color);

  background: var(--bs-btn-symbol-background);
  border: var(--bs-btn-symbol-border);
  border-radius: var(--bs-btn-symbol-borderRadius);
  box-shadow: var(--bs-btn-symbol-boxShadow);
  filter: var(--bs-btn-symbol-filter);
  padding: var(--bs-btn-symbol-padding);
  margin: var(--bs-btn-symbol-margin);
}

// NAVIGATION CAROUSEL
.carousel {
  position: relative;
  cursor: auto;
}

.carousel-inner {
  overflow: scroll;
  height: 85vh;
  @media (max-width: 767.98px) {
    height: 65vh;
  }
}

.carousel-item {
  overflow: scroll;
  height: 70vh;
  @media (max-width: 767.98px) {
    height: 50vh;
  }
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
  cursor: auto;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
  border-radius: 10px;
  margin-right: 15%;
  margin-left: 15%;
  @media (max-width: 767.98px) {
    margin-right: 5%;
    margin-left: 5%;
  }
}

.carousel-indicators [data-bs-target] {
  flex: 0 1 auto;
  width: 20vw;
  height: 50px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.6s ease;
  opacity: var(--nav-icon-inactive-opacity);
  transform: scale(0.9);
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
  transform: scale(1.1);
}

button {
  background-color: transparent;
  width: 3em;
  margin: 2px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.activeLanguage {
  padding-bottom: 20px;
  transition: opacity 0.9s ease;
}

.noActivelanguage {
  padding-top: 20px;
  transition: opacity 0.9s ease;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  display: flex;
  align-items: center;
  height: 25vh;
  width: 100%;
  margin-right: 10px;
  @media (max-width: 767.98px) {
    margin-bottom: 10px;
    height: 20vh;
  }

  background-color: transparent;
  // border: 1px solid #f1f1f1;
  // border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  &.clicked {
    transform: rotateY(180deg);
  }
}
/*
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
*/

.flip-card-front,
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  cursor: pointer;
  background-color: transparent;
}

.flip-card-back {
  background: radial-gradient(white, transparent) !important;
  transform: rotateY(180deg);
}

.is-demo {
  position: relative;
  top: -3em;
  left: 1em;
  color: silver;
  border: 0.5rem double silver;
  transform: rotate(23deg);
  -webkit-mask-position: 2rem 3rem;
  font-size: 2rem;
}

// DEMO AUSWAHL
.demo-choice{


  // display: block;
  // width: 100%;
  // padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
  // -moz-padding-start: subtract($form-select-padding-x, 3px); // See https://github.com/twbs/bootstrap/issues/32636
  font-family: var(--bs-body-font-family);
  font-size: 1.5em;
  font-weight: var(--bs-body-font-weight);
  // color: var(--bs-body-color);
  /*
    document.documentElement.style.setProperty('--bs-body-font-family', this.wcmsSelectedTheme.fontFamily);
    document.documentElement.style.setProperty('--bs-body-font-size', this.wcmsSelectedTheme.fontSize);
    document.documentElement.style.setProperty('--bs-body-font-weight', this.wcmsSelectedTheme.fontWeight);
    document.documentElement.style.setProperty('--bs-body-image', "url('" + this.wcmsSelectedTheme.backgroundImage + "')");
    document.documentElement.style.setProperty('--bs-body-color', this.wcmsSelectedTheme.color);
    document.documentElement.style.setProperty('--bs-body-bgColor', this.wcmsSelectedTheme.backgroundColor);
   */

  // line-height: $form-select-line-height;
  // color: $form-select-color;
  background-color: transparent;
  // background-image: escape-svg($form-select-indicator);
  // background-repeat: no-repeat;
  // background-position: $form-select-bg-position;
  // background-size: $form-select-bg-size;
  // border: $form-select-border-width solid $form-select-border-color;
  // @include border-radius($form-select-border-radius, 0);
  // @include box-shadow($form-select-box-shadow);
  // @include transition($form-select-transition);
  // appearance: none;

  cursor: auto;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
  border-radius: 10px;

}

.blink-on-focus {
  width: 2em;
  margin-top: -1em;
  margin-left: 10em;
  transform: rotate(-30deg);
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
