<div class="row content"
     [style.filter]="wcmsService.wcmsSelectedTheme.filter"
>
  <!-- HEADER -->
  <div class="leftContainer col-md-3">
    <div class="flip-card" (click)="makeMeHover(0.5)">
      <div class="flip-card-inner" id="flipMe">
        <div class="flip-card-front">
          <div>
            <img id="imgLogo"
                 class="logo"
                 [style.background-color]="wcmsService.wcmsSelectedFlipCard.logoStyle.backgroundColor"
                 [style.border]="wcmsService.wcmsSelectedFlipCard.logoStyle.border"
                 [style.border-radius]="wcmsService.wcmsSelectedFlipCard.logoStyle.borderRadius"
                 [style.filter]="wcmsService.wcmsSelectedFlipCard.logoStyle.filter"
                 [style.padding]="wcmsService.wcmsSelectedFlipCard.logoStyle.padding"
                 [style.opacity]="wcmsService.wcmsSelectedFlipCard.logoStyle.opacity"
                 [width]="wcmsService.wcmsSelectedFlipCard.logoStyle.width"
                 [src]="wcmsService.wcmsSelectedLogo.src"
                 [alt]="wcmsService.wcmsSelectedLogo.alt" />
          </div>
        </div>
        <div class="flip-card-back">
          <div id="flip-card" class="vcard">
            <address class="adr">
              <div [jhiTranslate]="wcmsService.wcmsClientRoot+'global.banner'">Dream it, Wish it, Do it</div>
              <h2 [jhiTranslate]="wcmsService.wcmsClientRoot+'global.title'">DiWiDi</h2>
            </address>

            <div>
              <a class="tel" [href]="'tel:'+wcmsService.wcmsSelectedBusiness.tel.number">
                <button class="btn-symbol">
                  <div class="row">
                    <div class="col-9" style="display: flex; justify-content: right">
                      <span class="txt-symbol">{{wcmsService.wcmsSelectedBusiness.tel.description}}</span>
                    </div>
                    <div class="col-3" style="display: flex; justify-content: left">
                      <span class="txt-symbol">&#9743;</span>
                    </div>
                  </div>
                </button>
              </a>
            </div>

            <div>
              <a class="email" [href]="'mailto:'+wcmsService.wcmsSelectedBusiness.email.address">
                <button class="btn-symbol">
                  <div class="row">
                    <div class="col-9" style="display: flex; justify-content: right">
                      <span class="txt-symbol">{{wcmsService.wcmsSelectedBusiness.email.address}}</span>
                    </div>
                    <div class="col-3" style="display: flex; justify-content: left">
                      <span class="txt-symbol">&#9993;</span>
                    </div>
                  </div>
                </button>
              </a>
            </div>

            <div>
              <button class="btn-symbol" (click)="impressMe()">
                <div class="row">
                  <div class="col-9" style="display: flex; justify-content: right">
                    <span class="txt-symbol" jhiTranslate="home.impress">Impressum</span>
                  </div>
                  <div class="col-3" style="display: flex; justify-content: left">
                    <span class="txt-symbol">§</span>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="leftContainerDescription">
      <div [hidden]="showImpressum">
        <div [jhiTranslate]="wcmsService.wcmsClientRoot+'global.description'"
            [style.font-family]="this.wcmsService.wcmsSelectedDescription.fontFamily"
            [style.font-size]="this.wcmsService.wcmsSelectedDescription.fontSize"
            [style.color]="this.wcmsService.wcmsSelectedDescription.color"
            [style.background-color]="this.wcmsService.wcmsSelectedDescription.backgroundColor"
            [style.border]="this.wcmsService.wcmsSelectedDescription.border"
            [style.border-radius]="this.wcmsService.wcmsSelectedDescription.borderRadius"
            [style.box-shadow]="this.wcmsService.wcmsSelectedDescription.boxShadow"
            [style.padding]="this.wcmsService.wcmsSelectedDescription.padding"
            [style.margin-bottom]="this.wcmsService.wcmsSelectedDescription.marginBottom"></div>
        <hr />

        <div [jhiTranslate]="wcmsService.wcmsClientRoot+'global.banner'"
             [style.font-family]="this.wcmsService.wcmsSelectedBanner.fontFamily"
             [style.font-size]="this.wcmsService.wcmsSelectedBanner.fontSize"
             [style.color]="this.wcmsService.wcmsSelectedBanner.color"
             [style.background-color]="this.wcmsService.wcmsSelectedBanner.backgroundColor"
             [style.border]="this.wcmsService.wcmsSelectedBanner.border"
             [style.border-radius]="this.wcmsService.wcmsSelectedBanner.borderRadius"
             [style.box-shadow]="this.wcmsService.wcmsSelectedBanner.boxShadow"
             [style.padding]="this.wcmsService.wcmsSelectedBanner.padding"
             [style.margin-bottom]="this.wcmsService.wcmsSelectedBanner.marginBottom"></div>

        <!-- <h3 [jhiTranslate]="wcmsService.wcmsClientRoot+'global.title'"></h3> -->
        <select class="form-select form-select-sm demo-choice" [(ngModel)]="this.wcmsService.wcmsClient" (change)="this.wcmsService.setSelectedTheme(this.wcmsService.wcmsClient); hideTheFocus();"
                [style.font-family]="this.wcmsService.wcmsSelectedTitle.fontFamily"
                [style.font-size]="this.wcmsService.wcmsSelectedTitle.fontSize"
                [style.color]="this.wcmsService.wcmsSelectedTitle.color"
                [style.background-color]="this.wcmsService.wcmsSelectedTitle.backgroundColor"
                [style.border]="this.wcmsService.wcmsSelectedTitle.border"
                [style.border-radius]="this.wcmsService.wcmsSelectedTitle.borderRadius"
                [style.box-shadow]="this.wcmsService.wcmsSelectedTitle.boxShadow"
                [style.padding]="this.wcmsService.wcmsSelectedTitle.padding"
                [style.margin-bottom]="this.wcmsService.wcmsSelectedTitle.marginBottom">
          <!-- <option selected>Demo auswählen</option> -->
          <option *ngFor="let theme of wcmsService.JsonWcmsThemes" [value]="theme.id">{{'virtuality.' + theme.id.toLowerCase() + '.global.title' | translate}}</option>
        </select>
        <img [hidden]="!blinkOnFocus" class="blink-on-focus" src="../../content/images/communication/hand-clicking-icon.svg">

        <jhi-social-media></jhi-social-media>
      </div>
      <div [hidden]="!showImpressum" class="leftContainer" style="overflow-y: scroll">
        <jhi-page-impress></jhi-page-impress>
      </div>
    </div>

    <jhi-media-balloon></jhi-media-balloon>

  </div>

  <!-- MAIN -->
  <div class="rightContainer col-md-9">

    <div id="carouselNavigationCaptions" class="carousel slide" data-bs-ride="false">
      <!-- NAVIGATION -->
      <div class="carousel-indicators"
           [style.background-color]="wcmsService.wcmsSelectedNavigation.backgroundColor"
           [style.border]="wcmsService.wcmsSelectedNavigation.border"
           [style.border-radius]="wcmsService.wcmsSelectedNavigation.borderRadius"
      >
        <button
          *ngFor="let language of languages"
          (click)="changeLanguage(language)"
          [ngClass]="language === translateService.currentLang ? 'activeLanguage' : 'noActivelanguage'"
        >
          <!-- {{ language }} -->
          <img *ngIf="language === 'nl'" [src]="wcmsService.wcmsSelectedLanguage.nl.src" [alt]="wcmsService.wcmsSelectedLanguage.nl.alt" />
          <img *ngIf="language === 'de'" [src]="wcmsService.wcmsSelectedLanguage.de.src" [alt]="wcmsService.wcmsSelectedLanguage.de.alt" />
          <img *ngIf="language === 'en'" [src]="wcmsService.wcmsSelectedLanguage.en.src" [alt]="wcmsService.wcmsSelectedLanguage.en.alt" />
          <img *ngIf="language === 'fr'" [src]="wcmsService.wcmsSelectedLanguage.fr.src" [alt]="wcmsService.wcmsSelectedLanguage.fr.alt" />
        </button>

        <img [src]="wcmsService.wcmsSelectedNavigation.pageOne.src"
             [alt]="wcmsService.wcmsSelectedNavigation.pageOne.alt"
             data-bs-target="#carouselNavigationCaptions"
             class="active"
             aria-current="true"
             data-bs-slide-to="0"
             aria-label="Slide 1" />

        <img [src]="wcmsService.wcmsSelectedNavigation.pageTwo.src"
             [alt]="wcmsService.wcmsSelectedNavigation.pageTwo.alt"
             data-bs-target="#carouselNavigationCaptions"
             data-bs-slide-to="1"
             aria-label="Slide 2" />

        <img (click)="makeMeHover(1)"
             [src]="wcmsService.wcmsSelectedNavigation.pageThree.src"
             [alt]="wcmsService.wcmsSelectedNavigation.pageThree.alt"
             data-bs-target="#carouselNavigationCaptions"
             data-bs-slide-to="2"
             aria-label="Slide 3" />

      </div>
      <!-- END:NAVIGATION -->

      <!-- INNER -->
      <div class="carousel-inner">
        <!--  PAGE-ONE -->
        <div class="carousel-item active">
          <jhi-page-one></jhi-page-one>
        </div>
        <!--  PAGE-TWO -->
        <div class="carousel-item">
          <jhi-page-two></jhi-page-two>
        </div>
        <!--  PAGE-THREE -->
        <div class="carousel-item">
          <jhi-page-three></jhi-page-three>
        </div>
      </div>
      <!-- END:INNER -->
    </div>

    <!-- <img style="width: 30px; position: absolute; top: 30px; left: 28vw;transform: rotate(-20deg); z-index: 3;" src="../../content/images/hand-clicking-icon.svg"> -->
  </div>
</div>

