<div style="overflow-x: hidden">

  <jhi-page-header [pageName]="pageName"></jhi-page-header>
  <jhi-separator></jhi-separator>

  <div class="row">
    <div class="col-6">
      <jhi-open></jhi-open>
    </div>

    <div class="col-6">

      <div class="mt-4">
        <jhi-gmap></jhi-gmap>
      </div>

    </div>
  </div>

  <div class="row mt-4" style="display: flex; justify-content: center">
    <div class="col-6" style="
          max-width: 30%;
          margin: 0 2em;
          border-radius: 0 10px 50px 10px;
          text-align: left;
          padding: 1em 2em;

          cursor: pointer">
      <img height="50em" [src]="wcmsService.wcmsSelectedCommunication.tel.src">
      <span class="txt-symbol">{{wcmsService.wcmsSelectedCommunication.tel.description}}</span>
    </div>

    <div class="col-6" style="
          max-width: 30%;
          margin: 0 2em;
          border-radius: 50px 10px 10px 10px;
          text-align: right; padding: 1em 2em;

          cursor: pointer;
         ">
      <span class="txt-symbol">{{wcmsService.wcmsSelectedCommunication.email.description}}</span>
      <img height="50em" [src]="wcmsService.wcmsSelectedCommunication.email.src">
    </div>

  </div>



</div>
