<div style="overflow-x: hidden">

  <jhi-page-header [pageName]="pageName"></jhi-page-header>
  <jhi-separator></jhi-separator>

  <div class="row">
    <div class="col-6">
      <jhi-open></jhi-open>
    </div>

    <div class="col-6">

      <div class="mt-4">
        <jhi-gmap></jhi-gmap>
      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-5" style="text-align: center; cursor: pointer">
      <img height="50em" [src]="wcmsService.wcmsSelectedCommunication.tel.src">
    </div>

    <div class="col-5"style="text-align: center; cursor: pointer;">
      <img height="50em" [src]="wcmsService.wcmsSelectedCommunication.email.src">
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-5" style="text-align: center; cursor: pointer">
      <a [href]="'tel:'+wcmsService.wcmsSelectedCommunication.tel.number">
        <span class="txt-symbol">DiWiDi: </span><br>
        <span class="txt-symbol">{{wcmsService.wcmsSelectedCommunication.tel.description}}</span>
      </a>
    </div>

    <div class="col-5"style="text-align: center; cursor: pointer">
      <a [href]="'mailto:'+wcmsService.wcmsSelectedCommunication.email.address">
        <span class="txt-symbol">{{wcmsService.wcmsSelectedCommunication.email.description}}</span>
      </a>
    </div>

  </div>



</div>
