<button id="infoCircle" class="info-circle" (click)="packageMe()">

  <!--
  <div class="row info-zoom">
    <div class="col-12">
      <img style="height: 80px" src="../../content/images/diwidi/2nd_Logo_Concept_v3.5_5k_200px.png" />
    </div>
  </div>
-->

  <div class="row not-info-zoom" style="position: relative; top: -80px">
    <div class="col-3">
      <img class="info-img" src="../../content/images/diwidi/2nd_Logo_Concept_v3.5_5k_200px.png" />
    </div>
    <div class="col-9">
      <b>Unser Angebot für SIE!</b>
    </div>
  </div>

  <div class="row info-zoom mb-2">

    <div class="col-2">
      <img class="info-img" src="../../content/images/wish.svg" />
    </div>

    <div class="col-10">
      <span>
        Sie geben uns Ihre Texte, Bilder und Ihr Logo, wir erstellen Ihnen eine individuelle, professionelle Homepage mit vier Kategorien, ohne INOS-, WIX-, WordPress- usw. Vorlagen, die auf allen Endgeräten einsetzbar ist.
      </span>
    </div>

  </div>

  <div class="row info-zoom mb-2">
    <div class="col-10">
        <span>
            Home-
            Mit anklickbaren Logo
            Kurze Firmenbeschreibung
            Kleiner Spruch/Slogan
            Firmenname
            Allgemein/Willkommen
            Zitat (wenn man möchte)
            Verschiedene Platzierungen möglich
            Text
            Verschiedene Platzierungen möglich
            Bilder
            Verschiedene Platzierungen möglich
            Bei mehreren Bildern können diese in einem Karussell oder in einer Diashow präsentiert werden
            Ihr Angebot/ihre Leistung
            Zitat (wenn man möchte)
            Verschiedene Platzierungen möglich
            Beispielbilder mit Beschreibung
            Verschiedene Platzierungen möglich
            Text
            Verschiedene Platzierungen möglich
            So erreichen Sie uns
            Zitat (wenn man möchte)
            Verschiedene Platzierungen möglich
            Öffnungszeiten
            Statisch oder mit Echtzeitanzeige (der Bereich der Öffnungszeit wird hervorgehoben, wenn diese Uhrzeit aktuell ist.
            Google-Maps (wenn man möchte)
            Kontaktdaten
            mit oder ohne Klickfunktion
            Telefonklickfunktion an Öffnungszeiten angepasst
            Text
            Verschiedene Platzierungen möglich
      </span>
    </div>
  </div>

</button>

<!--
<div class="row info-zoom mb-2">
    <div class="col-2">
      <img class="info-img" src="../../content/images/wish.svg" />
    </div>
    <div class="col-10">
          <span
          >Das Webdesign ist für den ersten Eindrucks eines Besuchers von Ihrem Unternehmen verantwortlich, und ein gutes Design kann
            Ihnen helfen, die Verkaufszahlen zu verbessern.</span
          >
      <span class="price">499€</span>
    </div>
  </div>

  <hr />

  <div class="row info-zoom">
    <div class="col-10">
          <span
          >Mit responsivem Website-Design kann sich Ihre Website anpassen und das beste Erlebnis bieten, unabhängig davon, ob man sich auf
            ihrem Desktop, Laptop, Tablet oder Smartphone befindet.</span
          >
      <span class="price">899€</span>
    </div>
    <div class="col-2">
      <img class="info-img" src="../../content/images/do.svg" />
    </div>
  </div>
-->
