<button id="infoCircle" class="info-circle" (click)="packageMe()">

  <div class="row info-zoom">
    <div class="col-12">
      <img style="height: 80px" src="../../content/images/diwidi/2nd_Logo_Concept_v3.5_5k_200px.png" />
    </div>
  </div>

  <div class="row not-info-zoom" style="position: relative; top: -80px">
    <div class="col-3">
      <img class="info-img" src="../../content/images/diwidi/2nd_Logo_Concept_v3.5_5k_200px.png" />
    </div>
    <div class="col-9">
      <b>Unser Angebot für SIE!</b>
    </div>
  </div>

  <div class="row info-zoom mb-2">
    <div class="col-2">
      <img class="info-img" src="../../content/images/wish.svg" />
    </div>
    <div class="col-10">
          <span
          >Das Webdesign ist für den ersten Eindrucks eines Besuchers von Ihrem Unternehmen verantwortlich, und ein gutes Design kann
            Ihnen helfen, die Verkaufszahlen zu verbessern.</span
          >
      <span class="price">499€</span>
    </div>
  </div>

  <hr />

  <div class="row info-zoom">
    <div class="col-10">
          <span
          >Mit responsivem Website-Design kann sich Ihre Website anpassen und das beste Erlebnis bieten, unabhängig davon, ob man sich auf
            ihrem Desktop, Laptop, Tablet oder Smartphone befindet.</span
          >
      <span class="price">899€</span>
    </div>
    <div class="col-2">
      <img class="info-img" src="../../content/images/do.svg" />
    </div>
  </div>
</button>
