<div id="infoCircle" class="info-circle" (click)="packageMe()">

  <!-- BUTTON -->
  <div class="row not-info-zoom">
    <div class="col-3">
      <img class="info-img" src="../../content/images/client/diwidi/2nd_Logo_Concept_v3.5_5k_200px.png" />
    </div>
    <div class="col-9" style="display: flex; justify-content: center; align-items: center">
      <b class="stamp is-nope">Unser Angebot für SIE!</b>
    </div>
  </div><!-- END:BUTTON -->

  <!-- ZOOM -->
  <div class="row info-zoom" style="margin-top: -2em">
    <div class="col-4">
      <div>
        <a class="tel" href="tel:+4981379961901">
          <button class="btn-symbol">
            <div class="row">
              <div class="col-12" style="display: flex; justify-content: center">
                <span class="txt-symbol">+49 8137 9961901</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12" style="display: flex; justify-content: center">
                <span class="symbol">&#9743;</span>
              </div>
            </div>
          </button>
        </a>
      </div>

      <div>
        <a class="email" href="mailto:info@diwidi.net">
          <button class="btn-symbol">
            <div class="row">
              <div class="col-12" style="display: flex; justify-content: center">
                <span class="txt-symbol">info@diwidi.net</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12" style="display: flex; justify-content: center">
                <span class="symbol">&#9993;</span>
              </div>
            </div>
          </button>
        </a>
      </div>
    </div>
    <div class="col-4" style="display: flex; justify-content: center; align-items: center; text-align: center">
      <h6>Gelangweilt und genervt vom Standard?</h6>
    </div>
    <div class="col-4 stamp is-price">Ab 499,00€<br><span style="font-size: .6em">zzgl.MWST</span></div>
  </div>

  <div class="row info-zoom desktop-margin">
    <div class="col-12" style="display: flex; justify-content: center; align-items: center">
      <h5>Problem gelöst!</h5>
    </div>
  </div>

  <div class="row info-zoom">
    <div class="col-12" style="display: flex; justify-content: center; align-items: center">
      <div><img class="info-img" src="../../content/images/client/diwidi/2nd_Logo_Concept_v3.5_5k_200px.png" /></div>
    </div>
  </div>

  <div class="row info-zoom">
    <div class="col-12" style="display: flex; justify-content: center; align-items: center">
      <span  style="margin-top: 1em">Sie geben uns Ihre Texte, Bilder und Ihr Logo, wir erstellen Ihnen eine individuelle, professionelle Homepage mit vier Kategorien.
      </span>
    </div>
  </div>

  <div class="row info-zoom" style="margin-top: 1em">
    <div class="col-1"></div>

    <div class="col-4" style="display: flex; justify-content: end; align-items: center">
      <ul class="simple" >
        <li style="text-align: right">
          <h6>Home/Startseite</h6>
          <img class="info-img" src="../../content/images/client/demo/logo/template-store.svg" />
        </li>
      </ul>
    </div>
    <div class="col-1"></div>
    <div class="col-6" style="text-align: left;">
      <ul><h6>Möglicher Ihnhalt</h6>
        <li>anklickbares Logo</li>
        <li>Firmenname</li>
        <li>Firmenbeschreibung</li>
        <li>Kleiner Spruch/Slogan</li>
        <li>Soziale Medien</li>
        <li>Impressum</li>
      </ul>
    </div>

    <div class="col-1"></div>

  </div>

  <div class="row info-zoom" style="margin-top: 1em;">

    <div class="col-1" style=" border-top: solid 1px grey"></div>

    <div class="col-4" style="display: flex; justify-content: end; align-items: center; border-top: solid 1px grey">
      <ul class="simple" style="margin-top: 1em">
        <li style="text-align: right">
          <h6>Allgemein / Willkommen</h6>
          <img style="margin-bottom: .5em" class="info-img" src="../../content/images/client/demo/navigation/dream.svg" />
        </li>
        <li style="text-align: right">
          <h6>Ihr Angebot / ihre Leistung</h6>
          <img style="margin-bottom: .5em" class="info-img" src="../../content/images/client/demo/navigation/wish.svg" />
        </li>
        <li style="text-align: right">
          <h6>So erreichen Sie uns</h6>
          <img style="margin-bottom: .5em" class="info-img" src="../../content/images/client/demo/navigation/do.svg" />
        </li>
      </ul>
    </div>
    <div class="col-1"></div>
    <div class="col-6" style="text-align: left; border-top: solid 1px grey">
      <ul style="margin-top: 1em"><h6>Möglicher Ihnhalt</h6>
        <li>Zitat</li>
        <li>Text / Bilder</li>
        <li>
          <ul class="simple">Öffnungszeiten
            <li class="li-small">Statisch oder mit Echtzeitanzeige</li>
          </ul>
        </li>
        <li>Diashow</li>
        <li>Google-Map</li>
        <li>Angebotes Liste</li>
        <li>
          <ul class="simple">Kontaktdaten
            <li class="li-small">mit oder ohne Klickfunktion</li>
            <li class="li-small">Telefonklickfunktion an die Öffnungszeiten angepasst</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-1"></div>

  </div>

</div>
