<div class="row">

  <div style="border: solid 1px; max-width: 18em; border-radius: 0 10px 50px 10px; text-align: left; padding: 5px">
    <img height="50em" [src]="wcmsService.wcmsSelectedCommunication.tel.src" alt="">
    <span class="txt-symbol">{{wcmsService.wcmsSelectedCommunication.tel.description}}</span>
  </div>

  <div style="border: solid 1px; max-width: 18em; border-radius: 50px 10px 10px 10px; text-align: right; padding: 5px">
    <span class="txt-symbol">{{wcmsService.wcmsSelectedCommunication.email.description}}</span>
    <img height="50em" [src]="wcmsService.wcmsSelectedCommunication.email.src" alt="">
  </div>

</div>
