<div class="additive">
<ul>Enthaltene Zusatzstoffe/Inhaltsstoffe:
  <li>1. mit Süßungsmitteln</li>
  <li>2. chininhaltig</li>
  <li>3. mit Farbstoffen</li>
  <li>4. koffeinhaltig</li>
  <li>5. mit Taurin</li>
  <li>6. mit Antioxidationsmitteln</li>
  <li>7. mit Phosphat (Säuerungsmittel)</li>
  <li>8. mit Milcheiweiß</li>
  <li>9. mit Konservierungsstoffen</li>
  <li>10. gewachst</li>
  <li>11. Schwefeldioxid (mehr als 10 mg/kg o. 10 mg/l)</li>
  <li>12. geschwärzt</li>
  <li>13. enthält eine Phenylalaninquelle (z.B. Aspartam)</li>
  <li>14. mit Geschmacksverstärker</li>
  <li>15. gekochter Vorderschinken, (Formfleisch aus Vorderschinkenteilen zusammengesetzt)</li>
  <li>16. hergestellt aus zerkleinertem Fleisch</li>
  <li>17. Stabilisatoren</li>
</ul>

<ul>Allergene:
  <li>A. Glutenhaltige Getreide/-erzeugnisse (a. Weizen, b. Roggen, c. Gerste, d. Hafer, e. Dinkel, f. Kamut o. g. Hybridstämme)</li>
  <li>B. Sellerie/-erzeugnisse</li>
  <li>C. Krebstiere/-erzeugnisse</li>
  <li>D. Lupine/-erzeugnisse</li>
  <li>E. Sesam/-erzeugnisse</li>
  <li>F. Fisch/-erzeugnisse</li>
  <li>G. Senf/-erzeugnisse</li>
  <li>H. Erdnüsse/-erzeugnisse</li>
  <li>I. Milch/-erzeugnisse (inkl. Laktose)</li>
  <li>J. Schalenfrüchte (Nüsse)-erzeugnisse (a. Mandel, b. Haselnuss, c. Walnuss, d. Cashew, e. Pekannuss, f. Paranuss, g. Pistazie, h. Macadamianuss o. i. Queenslandnuss)</li>
  <li>K. Eier/-erzeugnisse</li>
  <li>L. Weichtiere/-erzeugnisse</li>
  <li>M. Soja/-erzeugnisse</li>
  <li>N. Sulfite (mehr als 10 mg/kg o. 10 mg/l)</li>
</ul>
</div>
