<div class="container">
  <div class="box">
    <img src="../../../content/images/gallery/2nd_Logo_Concept_v3_5k.png">
    <span>DiWiDi</span>
  </div>
  <div class="box">
    <img src="../../../content/images/gallery/sketch1665068586440_600x600_antik07orig.png">
    <span>Dream it</span>
  </div>
  <div class="box">
    <img src="../../../content/images/gallery/sketch1665068608806_600x600_antik07orig.png">
    <span>Wish it</span>
  </div>
  <div class="box">
    <img src="../../../content/images/gallery/sketch1665068658206_600x600_antik07orig.png">
    <span>Do it</span>
  </div>
</div>
