.container {
  display: flex;
  width: 100%;
  padding: 1% 1%;
  box-sizing: border-box;
  height: 25vh;
  @media screen and (min-width: 768px) {
    height: 40vh;
  }
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  line-height: 0;
}

.box > img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: .5s;
}

.box > span {
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  font-size: 1.0em;
  @media screen and (min-width: 768px) {
    font-size: 3.8vh;
  }
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  object-fit: unset;
  width: 100%;
  height: 100%;
}

